<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{% static 'mainApp\CSS\base.css'%}">
        {% block styles %}
        {% endblock %}

        <title>Главная страница</title>
    </head>
    <body>
        <nav class="up-nav">
            <div class="logo">
                <a href="{% url 'mainPage' %}"><img src="{% static 'mainApp/img/logo.png'%}" alt="logo"/></a>
            </div>
            <div class="nav-buttons">
                <a href="{% url 'project' %}"  class="a-btn nav-btn">
                    Ваши<br/> проекты
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="a-btn nav-btn">
                        <div>{{request.user.username}}</div>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="a-btn nav-btn">
                       Войти
                    </a>
                {% endif %}
                </div>
            </div>
        </nav>
        {% block main %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>

</html>