{% extends "mainApp/HTML/base.html" %}
{% load static%}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'projectsApp\CSS\project.css'%}">
{% endblock %}

{% block main %}
    <div class="base-container">
        <div class="side-menu">
            {% if request.user.is_authenticated %}
                {% for project in projects %}
                    <p><a href="{% url 'project' project.project.title %}" >{{project.project.title}}</a></p>
                {% endfor %}
            {% else %}
                <p>Пожалуйста, авторизуйтесь на сайте для просмотра ваших проектов</p>
            {% endif %}
        </div>
        <div class="main-container">
            {% if request.user.is_authenticated %}
                {% if title_project %}
                    {% for task in tasks_project %}
                        <div class="task-container" id="task-container-{{ forloop.counter }}">
                            <div class="title">{{ task.title }}</div>
                            <div >
                                {% if task.comment == '' %}
                                    Нет комментариев
                                {% else %}
                                    Комментарий
                                {% endif %}
                            </div>
                            <div> Дедлайн: {{task.deadline}}</div>
                            <div class="worker" id="worker">
                                {% if task.user is None %}
                                    Нет исполнителя
                                    <form class="getWorkForm" method="post" action="{% url 'project' title_project %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="task-id" value="{{task.pk}}">
                                        <input type="hidden" name="container-id" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn">Взять на исполнение</button>
                                    </form>
                                {% else %}
                                    Исполнитель: {{task.user}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Выберите проект
                {% endif %}
            {% else %}
                <p>Пожалуйста, авторизуйтесь на сайте для просмотра ваших проектов</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".getWorkForm").each(function(index, element) {
            $(element).submit(function(){
                $.ajax({
                    data: $(this).serialize(),
                    type: 'POST',
                    url:  $(this).attr('action'),
                    success: function (response) {
                        element.parentElement.innerHTML = 'Исполнитель: {{request.user.username}}';
                    },
                    error: function (response) {
                        alert("Что-то пошло не так. Попробуйте позже.");
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })

    </script>
{% endblock %}