{% extends "mainApp/HTML/base.html" %}
{% load static%}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'projectsApp\CSS\project.css'%}">
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'projectsApp/JS/project.js' %}"></script>
{% endblock %}

{% block main %}
    <input type="hidden" value="{{project_id}}" id="project_id">
    <div class="base-container">
        <div class="side-menu">
            {% if request.user.is_authenticated %}
                <button type="submit" class="a-btn project-btn" id="btnShowModalProject">Добавить проект</button>
                {% if project_id %}
                    <details id="user_in_project">
                        <summary>Участники проекта:</summary>
                        {% for user in users %}
                            <p>{{user.user__username}}</p>
                        {% endfor %}
                    </details>
                {% endif %}
                <details>
                    <summary>Ваши проекты:</summary>
                    {% if projects %}
                        {% for project in projects %}
                            <form action="{% url 'project' %}" method="get">
                                <input type="hidden" value="{{project.project.pk}}" name="project_id">
                                <button type="submit" class="a-btn project-btn">
                                    {{project.project.title}}
                                </button>
                            </form>
                        {% endfor %}

                    {% else %}
                        <p> У вас нет проектов </p>
                    {% endif %}
                </details>
            {% else %}
                <p>Пожалуйста, авторизуйтесь на сайте для просмотра ваших проектов</p>
            {% endif %}
        </div>
        <div class="main-container">
            {% if request.user.is_authenticated %}
                {% if project_id %}
                    <div class="container">
                        <div>
                            <button id="btnShowModalTask" class="a-btn project-btn"> Добавить задачу</button>
                            <button id="btnShowModalAddUser" class="a-btn project-btn"> Добавить пользователя</button>
                        </div>
                        {% for task in tasks_project %}
                            <div class="task-container">
                                <div class="title">{{ task.title }}</div>
                                <div class="is-ready">
                                    {% if task.is_ready %}
                                        Выполнено
                                    {% else %}
                                        {% if task.user.username and task.user.username == request.user.username%}
                                            <form method="post" action="{% url 'Tasks' %}" class="update_is_ready">
                                                {% csrf_token %}
                                                <input type="hidden" name="task-id" value="{{task.pk}}">
                                                <input type="hidden" name="do" value="update_is_ready">
                                                <button type="submit">Отметить выполнение</button>
                                            </form>
                                        {% else %}
                                            Не выполнено
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div >
                                    {% if task.comment == '' %}
                                        Нет комментариев
                                    {% else %}
                                        Комментарий
                                    {% endif %}
                                </div>
                                <div> Дедлайн: {{task.deadline}}</div>
                                <div class="worker" id="worker">
                                    {% if task.user is None %}
                                        Нет исполнителя
                                        <form class="getWorkForm" method="post" action="{% url 'Tasks' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="task-id" value="{{task.pk}}">
                                            <input type="hidden" name="do" value="update_task_user">
                                            <button type="submit" class="btn">Взять на исполнение</button>
                                        </form>
                                    {% else %}
                                        Исполнитель: {{task.user}}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        Выберите проект
                    {% endif %}
                {% else %}
                    <p>Пожалуйста, авторизуйтесь на сайте для просмотра ваших проектов</p>
                {% endif %}
            </div>
        </div>
    </div>
    <dialog id="modalProject">
        <form method="post" id="addProject" action="{% url 'addProject' %}">{% csrf_token %}</form>
        <label>Название проекта:</label>
        <input type="text" form="addProject" name="title_project"/> <br>
        <div class="modal-btn">
            <button type="submit" form="addProject" class="a-btn project-btn">Создать проект</button>
            <button type="submit" id="CloseModalProject" class="a-btn project-btn">Отмена</button>
        </div>
    </dialog>

    <dialog id="modalTask">
        <form method="post" id="addTask" action="{% url 'Tasks' %}">{% csrf_token %}</form>
        <input type="hidden" form="addTask" name="do" value="create_task">
        <input type="hidden" form="addTask" value="{{project_id}}" name="project_id">
        <label> Название задачи:</label>
        <input type="text" form="addTask" name="title_task" required aria-required="true"/> <br>
        <label> Дедлайн:</label>
        <input type="date" form="addTask" name="deadline" required aria-required="true"><br>
        <label> Комментарий(необязательно): </label><br>
        <input type="text" form="addTask" name="comment" class="comment"/> <br>
        <div class="modal-btn">
            <button type="submit" form="addTask" class="a-btn project-btn">Добавить задачу</button>
            <button type="submit" id='CloseModalTask' class="a-btn project-btn">Отмена</button>
        </div>
    </dialog>

    <dialog id="modalAddUser">
        <form method="post" id="addUser" action="{% url 'addUserProject' %}">{% csrf_token %}</form>
        <label>Имя пользователя:</label>
        <input type="text" form="addUser" name="username"/> <br>
        <div id="msg-err"></div>
        <div class="modal-btn">
            <button type="submit" form="addUser" class="a-btn project-btn">Добавить пользователя</button>
            <button type="submit" id="CloseModalAddUser" class="a-btn project-btn">Отмена</button>
        </div>
    </dialog>
{% endblock %}

