{% extends "mainApp/HTML/base.html" %}
{% load static%}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'accountApp\CSS\login.css'%}">
{% endblock %}

{% block main %}
    <div class="base-container">
        <div class="auth-container">
            {% if request.user.is_authenticated %}
                <p> Вы уже авторизованны как {{request.user.username}}</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="nav-btn">Выйти</button>
                </form>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <div class="auth-field">
                        {% for field in form %}
                            <p class="form-label">{{ field.label }}</p>
                            <p>{{ field }}</p>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-outline-success">Войти</button>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </form>
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}

        </div>
    </div>
{% endblock %}